__pycache__/
.ipynb_checkpoints/
outputs/geotiffs/*.tif
outputs/geotiffs/*.tiff
outputs/tables/*.csv
!outputs/geotiffs/.gitkeep
!outputs/figures/.gitkeep
!outputs/tables/.gitkeep
.DS_Store
.env
.venv/
